.box{
    border-radius: 50px;
    padding:80px 70px;

}
.inside{
    border-radius: 20px;
    padding:10px 40px;
    margin:10px 0px;
}

@media (max-width : 992px) {
    .box{
        margin-top:70px;
        margin-bottom:80px;
    }
    
}